{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<add name="X-Frame-Options" value="SAMEORIGIN" />-->
    <title>Game</title>
    <link rel="stylesheet" href="{% static 'admin/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/dashboard.css' %}">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
    <!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>-->
</head>
<style>

</style>

<body>
<div class="header">
    <div class="header__wrap">
        <span class="balance">
            <div class="coin_img">
                <img src="{% static 'img/money.svg' %}">
            </div>
            <span class="money_balance" id="balance"></span>
        </span>
        <div class="bonus_counter">
            <div class="bonus_img">
                <img src="{% static 'img/bonus.svg' %}">
            </div>
            <div class="bonus_img2">
                <img src="{% static 'img/bonus2.svg' %}">
            </div>
            <div class="bonus_row">
                <div class="bonus_progress"></div>
            </div>
            <span id="bonus_counter" class="numbers_bonus" style="z-index: 5"></span>
        </div>
        <div class="settings" id="settings">
            <img src="{% static 'img/settings.svg' %}">
        </div>
    </div>
</div>
<div id="game_to_start" class="game_to_start">
    <div id="select_chests" class="select_chests">
         <div class="sunduki">
            <div class="chest_1 sunduk">
                <img id="chest_1" style="margin-right: 42px; width: 124px;" src="{% static 'img/sunduk.svg' %}" data-original-win="{% static 'img/sunduk_full.gif' %}" data-original-lose="{% static 'img/sunduk_empty.gif' %}">
                <div id="game_result_left" class="game_result"></div>
            </div>
            <div class="chest_2 sunduk2">
                <img id="chest_2" style="width: 124px;" src="{% static 'img/sunduk.svg' %}" data-original-lose="{% static 'img/sunduk_empty.gif' %}" data-original-win="{% static 'img/sunduk_full.gif' %}">
                <div id="game_result_right" class="game_result"></div>
            </div>
         </div>
    </div>
    <div id="chose_bet_size" class="chose_bet_size">
        <h4 class="main__title">выберете ставку</h4>
        <div class="start_game">
            <button class="btn_start_game" id="start_game" onclick="startGame()"><i class="btn_text">ИГРАТЬ</i></button>
        </div>
        <div class="bet_amount_selector" id="bet_amount_selector">
            <button class="button_minus" onclick="handleMinus()"></button>
            <label class="label_bet_amount">
                <input type="number" inputmode="numeric" class="input_bet_amount" id="bet_amount" value="50" oninput="this.value = this.value.replace(/\D+/g, '')">
            </label>
            <button class="button_plus" onclick="handlePlus()"></button>
        </div>
        <div class="popular_bet_amount" id="popular_bet_amount">
            <button class="button_bet_size" id="bet_size_100" onclick="setAmount(100)"><i class="btn_bet_text">100 UAH</i></button>
            <button style="margin: 0 4px" class="button_bet_size" id="bet_size_500" onclick="setAmount(500)"><i class="btn_bet_text">500 UAH</i></button>
            <button style="margin: 0 4px" class="button_bet_size" id="bet_size_1000" onclick="setAmount(1000)"><i class="btn_bet_text">1000 UAH</i></button>
            <button class="button_bet_size" id="bet_size_1000" onclick="setAmount(10000)"><i class="btn_bet_text">MAX</i></button>
        </div>
        <div class="double_start">
            <div class="double_bet">
                <button class="button_double_bet" id="double_bet" onclick="doubleBet()"><i class="btn_double_text">Удвоить ставку</i></button>
            </div>

        </div>
    </div>
    <div id="select_chest" class="select_chest"></div>
</div>
<div hidden id="deposit_container" class="deposit_container">
    <div class="deposit_container_wrap">
        <div class="deposit_amount_container">
            <div class="dep_amount_selector" id="deposit_amount_selector">
                <button class="button_minus" onclick="handleMinusDep()">-</button>
                <label class="label_bet_amount">
                    <input type="number" inputmode="numeric" class="input_bet_amount" id="deposit_amount" value="250" oninput="this.value = this.value.replace(/\D+/g, '')">
                </label>
                <button class="button_plus" onclick="handlePlusDep()">+</button>
            </div>
            <div class="popular_dep_amount" id="popular_deposit_amount">
                <button class="button_bet_size" id="deposit_size_100" onclick="setAmountDep(100)"><i class="btn_bet_text">100 UAH</i></button>
                <button style="margin: 0 4px" class="button_bet_size" id="deposit_size_500" onclick="setAmountDep(500)"><i class="btn_bet_text">500 UAH</i></button>
                <button style="margin: 0 4px" class="button_bet_size" id="deposit_size_1000" onclick="setAmountDep(1000)"><i class="btn_bet_text">1000 UAH</i></button>
                <button class="button_bet_size" id="deposit_size_10000" onclick="setAmountDep(10000)"><i class="btn_bet_text">MAX</i></button>
            </div>

            <div class="deposit_methods" id="deposit_methods">
                <div class="payment_method">
                    <div class="pay" style="margin-right: 5px;">
                        <img src="{% static 'img/apple-pay.svg' %}">
                    </div>
                </div>
                <div class="payment_method">
                    <div class="pay">
                        <img style="padding-top: 10px;" src="{% static 'img/mark-check.svg' %}">
                    </div>
                </div>
            </div>
            <div class="chose_deposit_method" id="chose_deposit_method">
                <button class="button_start_game" id="deposit_method"><i class="button_start_game_text">Оплатить</i></button>
            </div>
        </div>
    </div>
</div>
<div id="bonus_game_start_container" class="bonus_game_start_container">
    <div hidden id="bonus_game_start" class="bonus_game_start">
        <div class="bonus_h1" id="bonus_h1">БОНУСНАЯ ИГРА</div>
        <div class="bonus_chest_container_1">
            <div class="bonus_chest_2">
                <img id="bonus_chest_2" class="bonus_chest" src="{% static 'img/sunduk_1.gif' %}" data-original="{% static 'img/sunduk_1_1.gif' %}">
                <div id="bonus_game_result_center" class="bonus_game_result"></div>
            </div>
        </div>
        <div class="bonus_chest_container_2">
            <div class="bonus_chest_1">
                <img id="bonus_chest_1" class="bonus_chest" src="{% static 'img/sunduk_1.gif' %}" data-original="{% static 'img/sunduk_1_1.gif' %}">
                <div id="bonus_game_result_left" class="bonus_game_result"></div>
            </div>
            <div class="bonus_chest_3">
                <img id="bonus_chest_3" class="bonus_chest" src="{% static 'img/sunduk_1.gif' %}" data-original="{% static 'img/sunduk_1_1.gif' %}">
                <div id="bonus_game_result_right" class="bonus_game_result"></div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="{% static 'js/jQuery.js' %}"></script>
<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</html>