{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Game</title>
        <script src="https://telegram.org/js/telegram-web-app.js"></script>
    </head>
    <style>

    </style>

    <body>
        <div id="tg_id"></div>
        <div> Введите размер ставки:
            <input type="number" name="bet_amount" id="bet_amount" placeholder="Размер ставки"> рублей
            <br/>
            <button type="submit">Поставить ставку</button>
        </div>
        <image src="{% static 'img/box.gif' %}"></image>
        <image src="{% static 'img/chest_1.gif' %}"></image>
        <image src="{% static 'img/chest_2.gif' %}"></image>

    </body>

    <script>
        let tg = window.Telegram.WebApp;
        let userId = `${tg.initDataUnsafe.user.id}`;
    </script>

</html>