/* DASHBOARD */

.dashboard .module table th {
    width: 100%;
}

.dashboard .module table td {
    white-space: nowrap;
}

.dashboard .module table td a {
    display: block;
    padding-right: .6em;
}

/* RECENT ACTIONS MODULE */

.module ul.actionlist {
    margin-left: 0;
}

ul.actionlist li {
    list-style-type: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

body{
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    max-height: 750px;
    overflow: hidden;
}

* {
    padding: 0;
    margin: 0;
}

.header{
    height: 22px;
    background: #001251;
}
.select_chests {
    display: flex;
    height: 295px;
    flex-direction: row;
    background-image: url("/static/img/light.gif");
    background-position: center;
    background-size: cover;
}
.game_result{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:22px;
    color:red;
    font-weight: bold;
}
.chest_before_start{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.chest_before_start, .chest{
    display: flex;
    /*flex-wrap: wrap;*/
    align-items: stretch;
    flex-direction: row;
    width: 100%;
}
.chest_1, .chest_2{
    position: relative;
    text-align: center;
}

.bet_amount_selector{
    display: flex;
    flex-wrap: wrap;
    /*align-items: flex-star;*/
    /*flex-direction: row;*/
    justify-content: center;
    margin-bottom: 8px;
    transform: translateY(-87px);
}
.popular_bet_amount{
    display: flex;
    justify-content: space-betwen;
    transform: translateY(-87px);
}
.double_start{
    transform: translateY(-75px);
}
.button_start_game, .button_new_game{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #44E083;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.button_start_game:hover, .button_new_game:hover{background-color: #00FF00}
.button_start_game:active, .button_new_game:active{
    background-color: #00FF00;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.button_double_bet{
    background-image: url('/static/img/make_bet.svg');
    background-repeat: no-repeat;
    background-color: #FFFFFF00;
    border: none;
    background-size: cover;
    width: 266.39px;
    height: 72.13px;
}

.button_minus{
    background-image: url('/static/img/minus.svg');
    background-repeat: no-repeat;
    background-color: #ffffff00;
    width: 58px;
    border: none;
    margin-right: 6px;
}

.button_plus{
    background-image: url('/static/img/plus.svg');
    background-repeat: no-repeat;
    background-color: #ffffff00;
    width: 58px;
    border: none;
    margin-left: 6px;
}
.button_plus:hover{background-color: #00FF00}

.button_plus:active{background-color: #00FF00}

.input_bet_amount{
    font-size: 25px;
    border-radius: 25px;
    width: 210px;
    background: #76300C;
    border-radius: 16px;
    font-family: 'Machine Gunk';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    background: linear-gradient(180deg, #FFFFFF 49.39%, #FFFF32 84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    border: none;
    height: 100%;
    text-align: center;
}
.input_bet_amount::-webkit-outer-spin-button,
.input_bet_amount::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.button_bet_size{
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    height: 36px;
    -webkit-text-stroke: .5px #ff5400;
    color: #fff;
    background-color: #FFD700;
    background-image: url('/static/img/btn_back.png');
    background-repeat: no-repeat;
    width: 82px;
    background-color: #ffffff00;
    border: none;
}
.button_bet_size:hover{

}
.button_bet_size:active{

}
.deposit_methods{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    /*padding: 10px;*/
}
.payment_method{
    height: 50px;
    width: 100px;
    margin-top: 5px;
    margin-left: 5px;

}
.payment_method img{
    /*padding: 10px;*/
}
.input-hidden {
    position: absolute;
    left: -9999px;
}
input[type=radio]:checked + label>img {
    border: 1px solid #fff;
    box-shadow: 0 0 3px 3px #090;
}
input[type=radio] + label>img {
    /*border: 1px dashed #444;*/
    height: 100%;
    width: auto;
    transition: 500ms all;
}
.bonus_game_start_container{
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
    /*background-image: url("/static/img/background_bonus.jpg");*/
    /*background-position: center;*/
    /*background-size: 100%;*/
    height: 100vh;
    /*height: 100%;*/
}
.bonus_game_start{
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    background-image: url("/static/img/background_bonus.jpg");
    background-position: top;
    background-size: 100%;
    /*height: 100vh;*/
}
.bonus_game_start.hidden{
    display: none !important;
}
.bonus_h1{
    font-size: 30px;
    color: red;
    font-weight: bold;
    text-align: center;
}
.bonus_chest_container_1{
    /*display: flex;*/
    /*flex-direction: row;*/
    align-items: center;
    justify-content: center;
    width: 50vw;
}
.bonus_chest_container_2{
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    width: 100vw;
}
.bonus_chest{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row;
    width: 100%;
}
.bonus_chest_1, .bonus_chest_2, .bonus_chest_3{
    position: relative;
    text-align: center;
}
.bonus_game_result{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:22px;
    color:red;
    font-weight: bold;
}



.balance {
    position: relative;
    margin: 0px 8px 0px 26px;
    background: #141A2F;
    max-width: 152px;
    padding: 4px 8px 2px 23px;
    border-radius: 12px;
}

.header__wrap {
    transform: translateY(8px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
}

.coin_img {
    position: absolute;
    left: -9px;
    top: -1px;
}

.bonus_img {
    position: absolute;
    z-index: 5;
}

.bonus_counter {
    position: relative;
    width: 144px;
    background: #141A2F;
    border-radius: 12px;
    margin-right: 8px;
}

.bonus_progress {
    background: #0073e7;
    position: absolute;
    width: 50%;
    height: 24px;
    left: 0;
    top: 0;
    border-radius: 12px;
}

.bonus_row {
    position: relative;
    height: 24px;
}

.bonus_row::after {
    position: absolute;
    left: 47px;
    top: -7px;
    content: "бонусная игра";
    font-family: 'Machine [Rus by me]';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: 0.08em;
    background: linear-gradient(180deg, #FFFFFF 49.39%, #FFFF32 84%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: -1px 1px 2px rgba(237, 96, 10, 0.8);
}

.money_balance {
    font-family: 'Machine Gunk';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: right;
    line-height: 16px;
    letter-spacing: 0.04em;
    margin-left: 5px;
    background: linear-gradient(181.99deg, #FFFFFF 50.21%, #AEFFFC 83.33%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.numbers_bonus {
    position: absolute;
    right: 37%;
    top: 5px;
    z-index: 6;
    font-family: 'Machine Gunk';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.04em;
    background: linear-gradient(181.99deg, #FFFFFF 50.21%, #AEFFFC 83.33%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-align: center;
}

.chose_bet_size {
    background-image: url("/static/img/main-img.png");
    background-size: cover;
    padding-top: 175px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    transform: translateY(-41px);
}

.main__title {
    font-family: 'Machine [Rus by me]';
    position: absolute;
    top: 11px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.08em;
    background: linear-gradient(180deg, #FFE926 0%, #E0610B 100%);
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(-1px 1px 2px #691002);
    -webkit-text-stroke: 1px #953f04;
}

.bonus_img2 {
    left: 0;
    top: -7px;
    position: absolute;
    z-index: 7;
}

.settings {
    border-radius: 12px;
    background: #141A2F;
    padding: 3px 3px 0px 4px;
}

.btn_start_game {
    background-image: url(/static/img/play.png);
    width: 115px;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 108px;
    border: none;
    background-color: #ffe4c400;
}

.start_game {
    transform: translateY(-100px);
}

.btn_text {
    font-family: 'Machine [Rus by me]';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.08em;
    background: linear-gradient(180deg, #FFFFFF 49.39%, #FFFF32 84%), linear-gradient(180deg, #FFFFFF 0%, #AEFFFC 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -1px 1px 20px #FFFF32;
}

.label_bet_amount {
    width: 210px;
    background: #76300C;
    border-radius: 16px;
    height: 35px;
}

.btn_bet_text {
    font-family: 'Machine Gunk';
    font-style: normal;
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.08em;
    background: linear-gradient(180deg, #FFFFFF 49.39%, #FFFF32 84%), linear-gradient(180deg, #FFFFFF 0%, #AEFFFC 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding: 3px;
    text-shadow: -1px 1px 2px rgba(215, 108, 45, 0.6);
}

.btn_double_text {
    font-family: 'Machine [Rus by me]';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.08em;
    background: linear-gradient(180deg, #FFFFFF 49.39%, #FFFF32 84%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    filter: drop-shadow(-1px 1px 2px #ED600ACC);
    -webkit-text-stroke: 1px #ff5400;
}

